.wallClock {
    -moz-user-select: none;
    bottom: 50px;
    color: #FEFEFE;
    position: fixed;
    left: 30px;
    cursor: default;
    display: inline-block;
    opacity: 0.7;
    user-select: none;
}
  .wallClock .m, .wallDate .m, .wallDate .y {
  color: #888888;
  font: 130px Zekton;
 }
.wallClock .h, .wallDate .d {
    color: #444;
    font: 250px/125px Zekton;
    height: 230px;
    top: -50px;
  }